
fieldset {
    width:fit-content;
    margin: auto;
    margin-top: 100px;
    background-color:#023802;
    text-align: right;
    border-radius: 20px;
    border-width: 3px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    font-family: Arial;
    text-align: center;
    background-color: #659d50;
    color: white
}
#inputs {
    font-weight:bold;
}

input {
    border-color:black;
    border-radius: 20px;
    text-align: center;
}


button:hover {
    color: rgb(23, 24, 24);
    background: rgb(63, 138, 69);
    text-decoration: underline;
}

#ba {
    color:#659d50
}

label, input {
    margin: 2px;
    width: 70px
}

button {
    width: 82px;
    height: 30px;
    border-color: #659d50;
    background-color: #659d50;
    color: white;
    border-radius: 5px;
    margin-top: 10px
}




