.medium {
    width: 294px;
    margin: 8px;
    padding: 5px;
    border-width: 2px;
    border-color: black;

}
.small {
    width: 130px;
    margin: 8px;
    padding: 5px;
    border-width: 2px;
}


fieldset {
    width:fit-content;
    margin: auto;
    margin-top: 100px;
    background-color: #edf0f5;
}

div {
    vertical-align: text-bottom;
    margin: 10px;
}

body {
    font-family: Arial;
}
h1{
    margin: 0
}
h2, h3 {
    font-weight: 1;
    margin: 0
}

div {
    font-size: 10px;
}

a {
    text-decoration: none;
}

#main {
    display: flex;
    margin: 0;
    a {
        margin-left: 10px;
        margin-top: 5px
    }
}

select {
    height: 30px
}

button {
    width: 130px;
    height: 30px;
    border-color: #659d50;
    background-color: #659d50;
    color: white;
    border-radius: 5px;
}




